<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>BlogWrite</h1>
        <img class="blog-logo" src="/images/journal-text.svg">
        <div class="redirect">
            <a href="/">
                <button class="redirect-buttons">Home</button>
            </a>
            <a href="/new">
                <button class="redirect-buttons">New Post</button>
            </a>
        </div>
    </div>
</body>
</html>