body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(180, 255, 224, 0.432);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 102, 58);
    text-align: center;
    margin: 15px 0 15px 0;
}

.form-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}
input {
    height: 50px;
    width: 800px;
    border-radius: 15px;
    margin-bottom: 20px;
}
textarea {
    width: 800px;
    height: 200px;
    border-radius: 10px;

}
form {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-button {
    background-color: rgb(3, 170, 3);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.submit-button:active {
    background-color: rgb(12, 221, 4);
}