body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(180, 255, 224, 0.432);
    margin: 0;
}
h2 {
    margin: 0;
}
.info-container {
    height: 35vh;
    margin: 0px;
    background-image: url("../images/info-cont.avif");
    text-align: center;
}
.info-title {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info-description {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.post-card {
    background-color: rgb(6, 79, 62);
    color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 18px;
    margin: 10px 10px 0 10px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-title {
    font-size: 24px;
    font-weight: bold;
    word-break: break-word;
    overflow-wrap: break-word;
}
.author {
    font-size: 14px;
    color: rgb(215, 215, 215);
}
.blog-button {
    background-color: rgb(220, 255, 195);
    text-decoration: none;
    color: rgb(35, 49, 100);
    padding: 6px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.create {
    text-decoration: none;
    color: blue;
    
}