body {
    background-color: rgb(171, 216, 255);
}

.container {
    background-color: transparent;
    margin: 0;
    max-width: 100%;
    height: 80px;
}

.pokeball-container {
    background-color: rgb(255, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pokeball {
    width: 100px;
    height: 100px;
    background: linear-gradient(#f23d2d 50%, #ffffff 50%);
    border-radius: 50%;
    border: 4px solid #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.pokeball::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 10px; 
    background: #000000;
    z-index: 1; 
}

.pokeball::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    border: 4px solid #000000; 
    z-index: 2;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
}