div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
body {
    background-color: black;
    color:white;
}
.poster {
    align-items: center;
    border: solid white 5px;
    width: 100%;
}