body {
    background-color: #44444E;
    font-family: 'Playfair Display ' ,serif, 'Times New Roman';
    line-height: 1.3;
    letter-spacing: 2px;
}
h2, h3 {
    margin: 0;
    width: 165px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
.home {
    display: flex;
    flex-direction: row;
}
#footer a {
    text-decoration: none;
    color: #F8FAFC;
}

.container-left {
    width: 50%;
    height: 100vh;
    background: linear-gradient(135deg, #e0f2fe 0%, #bae6fd 100%); 
}
.container-right {
    height: 100vh;
    width: 50%;
    background: linear-gradient(-0.25turn,#1E293B 100%,  #0F172A 0% ); 
}

.self-data {
    margin-top: 100px;
    margin-left: 40%;
    height: 100vh;
    display: grid;
    grid-template-rows: 300px 70px 130px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 40px;
}
.name-designation {
    height:80px;
    font-size: 26px;
    color: black;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.self-img {
    height: 280px;
    border-radius: 32px;
    grid-row: span 1;
    margin-bottom: 0;
}
.self-img:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 12px rgba(43, 122, 249, 0.312);
}

.contact {
    margin-top: 50px;
    font-size: 18px;

    display: grid;
    grid-template-rows: 40px 50px;
    justify-content: center;
}
.email {
    height: 20px;
    grid-column: span 3;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}
.email-button {
    width: 150px;
    background: linear-gradient(90deg, #0369a1 0%, #075985 100%);
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.email-button:hover {
    transform: translateY(-4px);
    box-shadow: 5px 5px 15px rgba(62, 136, 255, 0.508);
} 
.email a {
    text-decoration: none;
    color: white;
    height: 30px;
}
.socials {
    width: 200px;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.instagram-logo, .linkedin-logo, .github-logo {
    grid-column: span 1;
    height: 25px;
}
.instagram-logo:hover, .linkedin-logo:hover, .github-logo:hover {
    cursor: pointer;
    height: 40px;
}
.instagram, .linkedin, .github {
    display: flex;
    align-items: center;
    justify-content: center;
}

.self-info {
    margin-top: 100px;
    margin-left: 10%;
    height: 100vh;
    width: 60%;
    display: grid;
    grid-template-rows: 100px 250px 150px;

}
.about-title {
    font-size: 40px;
    font-weight: bold;
    grid-row: span 1;
    color: #F8FAFC;
}
.my-info {
    font-size: 22px;
    grid-row: span 1;
    margin-top: 0;
    color: #d1d5db;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.portfolio-button, .resume-button {
    width: 150px;
    background-color: #94A3B8;;
    color: black;
    padding: 8px;
    border-radius: 8px; 
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.portfolio-button:hover, .resume-button:hover {
    transform: translateY(-4px);
}