body {
    font-family: 'Playfair Display ' ,serif, 'Times New Roman';
    line-height: 1.3;
    letter-spacing: 2px;
    color: #dcdcdcda;
    background-color: #10141b;
}
h1 {
    text-align: center;
    background-color: #11161e31;
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;
}

.project-line {
    display: flex;
    flex-direction: row;
    height: 550px;
    align-items: center;
}
.project-left {
    margin-left: 4%;
    background: linear-gradient(135deg, #1E293B 100%,  #0F172A 0% ); 
    color: #d3e2f6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    .project-info {
        margin-left: 7%;
        margin-right: 10%; 
    }
    .project-title {
        color: #ffffff;
    }
    .link-button {
        background: linear-gradient(135deg, #e0f2fe 0%, #bae6fd 100%);
        color: black;
    }
    .link-button:hover {
        transform: translateY(-4px);
        box-shadow: 8px 6px 8px #5276b387;
    }
}
.project-right {
    margin-right: 4%;
    background: linear-gradient(135deg, #e0f2fe 0%, #bae6fd 100%);
    color: #23345c; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    .project-info {
        margin-left: 10%; 
        margin-right: 7%; ;
    }
    .project-title {
        color: #000000;
    }
    .link-button {
        background: linear-gradient(135deg, #1E293B 100%,  #0F172A 0% ); 
        color: white;
    }
    .link-button:hover {
        transform: translateY(-4px);
        box-shadow: 8px 6px 8px #4368804c;
    }
}
.project-img, .image-holder {
    height: 500px;
    width: 650px;
    border-radius: 15px;
}
.project-img {
    animation: me 0.5s ease-in-out;
}
@keyframes me {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.project-info {
    display: grid;
    grid-template-rows: 100px 300px 100px;
    text-align: justify;

}
.project-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.project-about {
    display: flex;
    font-size: 20px;
}
.project-link {
    display: flex;
    align-items: top;
}
.project-link a {
    height: 50px;
}
.link-button {
    color: black;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 18px;
}
